{% extends 'base.html' %}

{% block head %}
<title>COVID Flush 2020</title>
{% endblock %}


{% block body %}
<div class="centerDiv">
  <div class="back_card">
    <img src ="{{ url_for('static', filename='images/covidflush.png') }}" width=400px height=600px onclick="goDraw()">
  </div>
  <div class="front_card" onclick="goReverse()">
    <div id="card_value" style="font-size: 35px; text-align: left;">
       {{ card_value }}
    </div>
  </div>
</div>


<div class="button_container">
  <img src ="{{ url_for('static', filename='images/backward.png') }}" width=50px height=46px onclick="goReverse()">
  <img src ="{{ url_for('static', filename='images/forward.png') }}" width=50px height=46px onclick="goDraw()">
</div>



<div id="index" style="font-size: 30px">
  {{ index }}
</div>

<div class="shuffle">
  <img src ="{{ url_for('static', filename='images/shuffle.png') }}" width=50px height=46px onclick="goShuffle()">
</div>

<style>

.centerDiv
{
   width: 1000px;
   height: 700px;
   position: absolute;
   left: 22%;
   top: 20%;
   display: inline-block;
   text-align: center;
}


.front_card
{
 width: 400px;
 height: 600px;
 background-color: rgba(255, 255, 255);
 border: black solid;
 float:right
}

.back_card
{
  width: 400px;
  height: 600px;
  background-color: rgba(255, 255, 255);
  float: left
}

.shuffle
{
right: 0;
float: right;
margin-top: 40%;
padding-right: 1%;

}

#card_value{
  padding: 10%;
  font-size: 100px Arial;
}

#index
{
  right: 0;
  float: right;
  margin-top: 40.5%;
  margin-right: 2%;
}

.button_container
{
  width: 1000px;
  height: 10px;
  position: absolute;
  left: 22%;
  top: 90%;
  display: inline-block;
  text-align: center;
}


</style>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script>
  function goReverse(){
    $.ajax({
      method: "POST",
      url: "/game/reverse",
   }).done(function(card) {
     document.getElementById("card_value").innerHTML = card.value;
     document.getElementById("index").innerHTML = card.index;
     console.log(card.status);
     console.log(card.index);
     });
  }
    function goDraw(){
      $.ajax({
        method: "POST",
        url: "/game/draw",
     }).done(function(card) {
       document.getElementById("card_value").innerHTML = card.value;
       document.getElementById("index").innerHTML = card.index;
       console.log(card.status);
       console.log(card.index);
       });
    }
    function goShuffle(){
        $.ajax({
          method: "POST",
          url: "/game/shuffle",
       }).done(function(card) {
         document.getElementById("card_value").innerHTML = card.value;
         document.getElementById("index").innerHTML = card.index;
         console.log(card.status);
         console.log(card.index);
        });
    }
</script>

{% endblock %}
