{% extends 'base.html' %}

{% block head %}
<title>COVID Flush 2020</title>
{% endblock %}


{% block body %}
<div class="centerDiv">
  <div class="back_card">
    <img src ="{{ url_for('static', filename='images/covidflush.png') }}" width=400 height=600px>
  </div>
  <div class="front_card">
    <div id="card_value">
      {{ card_value }}
    </div>
  </div>
</div>
<div class="buttons_class">
  <div id="index">
    {{ index }}
  </div>
  <button class="btn shuffle" type="button" onclick="goShuffle()">Shuffle</button>
  <button class="btn draw" type="button" onclick="goDraw()">Draw</button>
  <button class="btn reverse" type="button" onclick="goReverse()">Reverse</button>
</div>


<style>

.centerDiv
{
 width: 70%;
 margin: 0 auto;
 padding: 5%;
 position: relative;
 text-align: center;
}

.back_card, .front_card
{
 width: 400px;
 height:600px;
 background-color: rgba(255, 255, 255);
 margin-right: 3%;
 border: 5px solid #000000;
 text-align: center;
 margin:0 4px;
}


.buttons_class
{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
</style>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script>
  function goReverse(){
    $.ajax({
      method: "POST",
      url: "/game/reverse",
   }).done(function(card) {
     document.getElementById("card_value").innerHTML = card.value;
     document.getElementById("index").innerHTML = card.index;
     console.log(card.status);
     console.log(card.index);
     });
  }
    function goDraw(){
      $.ajax({
        method: "POST",
        url: "/game/draw",
     }).done(function(card) {
       document.getElementById("card_value").innerHTML = card.value;
       document.getElementById("index").innerHTML = card.index;
       console.log(card.status);
       console.log(card.index);
       });
    }
    function goShuffle(){
        $.ajax({
          method: "POST",
          url: "/game/shuffle",
       }).done(function(card) {
         document.getElementById("card_value").innerHTML = card.value;
         document.getElementById("index").innerHTML = card.index;
         console.log(card.status);
         console.log(card.index);
        });
    }
</script>

{% endblock %}
